.header-navbar{
    letter-spacing: 2px;
    margin-bottom: 80px;
}
.word-one{
    color: #fbff00e8;
}
.sidebar{
    text-align: start;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.nav-link:hover{
    transition: .3s ease-in-out;
    transition: .3s ease-out;
}
.nav-link:hover{
    letter-spacing: 3px;
    font-weight: bold;
}


.header-navbar {
    --c: #fbff00e8;
    --b: 3px;
    --g: 5px;

    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%, var(--c) 0;
    background:
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
        conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
    transition: .3s, background-position .3s .3s;
    cursor: pointer;
}

.header-navbar:hover {
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
}
