body {
  font-family: 'Mulish', sans-serif;
  color: white;
}

.display-none {
  display: none;
}

.wrapper {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.navbar {
  display: none;
  width: 30%;
  height: 100vh;
  background-color: #161A43;
  align-items: center;
  justify-content: center;
  color: white;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.content {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  background-color: #262A56;
  padding: 0 20px;
}

.sidebar {
  display: flex;
  position: fixed;
  align-items: center;
  width: 300px;
  height: 100vh;
  background-color: #0f0f11e6;
}

.hide {
  display: none;
}

.bars {
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 30px;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
}

.nav-list {
  align-items: center;
}

.nav-list .nav-link {
  padding: 20px;
}



/* RESPONSIVE */

@media only screen and (min-width: 900px) {

  .wrapper {
    display: flex;
  }

  .navbar {
    display: flex;
  }

  .sidebar {
    display: none;
  }

  .bars {
    display: none;
  }
}